@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
    --clr-black: #222;
    --clr-grey: hsl(209, 28%, 39%);
    --clr-white: #fff;
    --ff-primary: "Roboto", sans-serif;
}


body {
    font-family: var(--ff-primary);
    background: var(--clr-grey);
    color: var(--clr-white);
    line-height: 1.5;
    font-size: 1.2rem;
}


section {
    color: var(--clr-black);
    font-weight: 700;
}